nav{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 42px;
    height: 45px;
}
nav div{
    display: flex;
    align-items: center;
}
nav div ul{
    display: flex;
}
nav div div{
    display: flex;
    flex-direction: column;
}